div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /*When Hover*/
  div.scrollmenu a:hover {
    background-color: rgb(119, 119, 119);
  }

  /*selected link*/
  /*When link is selected*/
  div.scrollmenu a:active {
    background-color: orange;
  }

  /*ONce link is visited*/
  div.scrollmenu a:visited {
    color: white;
  }

  /*Selects any <input when focused*/
  div.scrollmenu a:focus {
    color: Green;
  }
