div.linehuvmenu {
    background-color: #333;
    /*active member of society*/
    overflow: auto;
    /*i'm staring*/
    float:none;
    overflow: hidden;
    white-space: nowrap;
    width:100%;
    position: relative;
    display: flex;
  }

  html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
  }
  body {
    min-height: 100%;
    margin: 0;
  }

  div.linehuvmenu a {
    display: inline-block;
    flex-direction:column;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  /*When Hover*/
  div.linehuvmenu a:hover {
    background-color: rgb(119, 119, 119);
  }

  /*selected link*/
  /*When link is selected*/
  div.linehuvmenu a:active {
    background-color: orange;
  }

  /*ONce link is visited*/
  div.linehuvmenu a:visited {
    color: white;
  }

  /*Selects any <input when focused*/
  div.linehuvmenu a:focus {
    color: Green;
  }
