/** {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  html {
    height: 100%;
    min-width: 100%;
    overflow-y: scroll;
  }
  
  #wrap {
    min-height: 100%;
  }
  
  #main {
    overflow: auto;
    padding-bottom: 180px;
    /* must be same height as the footer */
  /*}
  body{
      background-color: rgb(53, 49, 49);
      height: 100%;
      overflow: auto;
      padding-bottom: 20px;
      min-height: 100%;
  }

  /*How do I fix white spaces.*/
  /* 10:33 */